.main{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.add-docs{
  height: 40px;
  width: 200px;
  background-color: blue;
  border: none;
  cursor: pointer;
  color: white;
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
  color: white;
margin-top: 50px;
}
.add-input{
  width: 95%;
  height: 20px;
  outline: none;
  border: 1px solid blue;
  border-radius: 0px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
}
.button{
  text-align: center;
  margin: 30px;
  color: white;
}
.q1{
 height: 40px;
 width: 70px;
 border: 1px solid blue;
 background-color:white;
 color:blue;

}
.q1:hover{
  background-color: blue;
  color: white;
 }
 p{
  color: black;
  font-size: larger;
  font-weight: 400;
  margin-top: -5px;
 }
 .grid-main{
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: whitesmoke;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
}

.grid-child{
  padding: 20px;
  width: 300px;
     background-color: rgb(133, 188, 255);
  cursor: pointer;
  height: 100px;
  border: 1px solid blue;
  margin-top: 30px;

}
.editDocs-main{
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.editDocs-inner {
  width: 800px;
  box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  -webkit-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  -moz-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  padding: 20px;
  height: 750px;
}
.ql-container.ql-snow {
  border: none !important;
}

.title{
  color: blue;
  font-weight: 600;
  font-size: larger;
}


.ql-snow {
  background-color: white;
}

.css-i4bv87-MuiSvgIcon-root{
  margin-left: 250px;
  margin-bottom: -25px;
}
.css-i4bv87-MuiSvgIcon-root-path{
  margin-left: 300px;
}



@media screen and (max-width:800px){
  h1{
    margin-left: -31px;
    padding-left: 39px;
    text-align: center;
  }
  .add-docs {
    margin-left: -5px;
    width:53%;
    padding: -20px;
    font-size: medium;

  }
.grid-child{
  width:300px;
  display: grid;
  justify-content: space-between;
  padding: -20px;
  margin-left: 10px;
}
.grid-main{
  margin-left: 10px;
grid-template-columns: subgrid;
}
.css-zf3i41{
  margin-top: -12%;

}

.editDocs-inner{
  width: 334px;
}
p{
  padding: 12px;
}
}